a = float(input("Marks of Physics ="))
b = float(input("Marks of Chemistry= "))
c = float(input("Marks of Math ="))
d = float(input("Marks of English ="))
e = float(input("Marks of Nepali ="))
if a >=35 and b >=35 and c >=35 and d >=35 and e >=35:
    total = a+b+c+d+e
    per = total/5

    if per >=80 or per == 80:
        grade = "A"
    elif per >=60 or per == 60:
        grade = "B"
    elif per >=45 or per == 45:
        grade = "C"
    else:
        grade = "F"

    print("Total Marks is ", total)
    print("Percentage", per)
    print("grade", grade)
    
else:
    print("grade = F")

In [ ]:
# looop
# for loop 
# range (5) - 0,1,2,3,4
# range(1,5) - 1,2,3,4,5
# range(1,10,2) - 1,3,5,7,9 - in this case from 1-10 thats 1-9 here = every number is add by 2 and the result is form 
# range(1,10,2) - 1,3,5,7,9 


# while loop

In [22]:
for i in range(1,10,5):
    print(i,"whats up")

1 whats up
6 whats up

In [31]:
for i in range (5,-10,-1):
    print(i,"lets go to minus")

5 lets go to minus
4 lets go to minus
3 lets go to minus
2 lets go to minus
1 lets go to minus
0 lets go to minus
-1 lets go to minus
-2 lets go to minus
-3 lets go to minus
-4 lets go to minus
-5 lets go to minus
-6 lets go to minus
-7 lets go to minus
-8 lets go to minus
-9 lets go to minus

In [32]:
a = int(input("Enter the value of a ="))
for i in range(1,11):
    print(a+i)

Enter the value of a =2
3
4
5
6
7
8
9
10
11
12

In [36]:
a = int(input("Enter the value of a ="))
for i in range(1,11):
    print(a,"*",i,"=",a*i)

Enter the value of a =345
345 * 1 = 345
345 * 2 = 690
345 * 3 = 1035
345 * 4 = 1380
345 * 5 = 1725
345 * 6 = 2070
345 * 7 = 2415
345 * 8 = 2760
345 * 9 = 3105
345 * 10 = 3450

In [38]:
for i in range(2):
    a = int(input("Enter the value of a = "))

Enter the value of a4
Enter the value of a4

In [50]:
s = 0 
for i in range(6):
    a = int(input("Enter the value of a = "))
    s = s + a 
    print(s)

Enter the value of a = 34
34
Enter the value of a = 34
68
Enter the value of a = 34
102
Enter the value of a = 34
136
Enter the value of a = 34
170
Enter the value of a = 34
204

In [2]:
pwd

'C:\\Users\\ACER\\Desktop\\for_Python.py'