In [1]:
d = {'a':'Apple','b':'Ball','c':'Cat'}
for i in d.values():
    print(i,end = " ")

Apple Ball Cat

In [3]:
d = {'a':'Apple','b':'Ball','c':'Cat'}
for i in d:
    print(i,end = " ")

a b c

In [4]:
d = {'a':'Apple','b':'Ball','c':'Cat'}
for i in d.items():
    print(i,end = " ")

('a', 'Apple') ('b', 'Ball') ('c', 'Cat')

In [6]:
d = [['a','Apple'],['b','Ball'],['c','Cat']]
dict(d)

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}

In [8]:
d = {'a':'Apple','b':'Ball','c':'Cat'}
list(d.items())

[('a', 'Apple'), ('b', 'Ball'), ('c', 'Cat')]

In [16]:
#to add value in dict
d = {}
d['a'] = 'apple'
d['b'] = 'ball'
d['c'] = 'cat'
d['d'] = 'dog'
print(d)

{'a': 'apple', 'b': 'ball', 'c': 'cat', 'd': 'dog'}

In [17]:
a = {'a': 'apple', 'b': 'ball', 'c': 'cat', 'd': 'dog'} #update dict value 
a['a'] = 'ant'
print(a)

{'a': 'ant', 'b': 'ball', 'c': 'cat', 'd': 'dog'}

In [18]:
a = {'a': 'apple', 'b': 'ball', 'c': 'cat', 'd': 'dog'} # to delete the value 
del a['d']
print(a)

{'a': 'apple', 'b': 'ball', 'c': 'cat'}

In [20]:
a = {'a': 'apple', 'b': 'ball', 'c': 'cat', 'd': 'dog'} #to delete the value and there is no remove tag to delete in dict 
b = a.pop('a')
print(a)
print(b)

{'b': 'ball', 'c': 'cat', 'd': 'dog'}
apple

In [23]:
d ={}
n = int(input("Enter the value of n = "))
for i in range (n):
    name = input('Enter the person name = ')
    phone = int(input("Enter Phone No. = "))
    d[phone]= name
    
print(d)

Enter the value of n = 1
Enter the person name = ntc
Enter Phone No. = 123456789
{123456789: 'ntc'}

In [25]:
#list inside dict 
d = {'Ram' : [1234567, 891234], 'shyam' : [4354645364,565745754]}
print(d)
print(d['Ram'][1])

{'Ram': [1234567, 891234], 'shyam': [4354645364, 565745754]}
891234

In [27]:
d ={}
n = int(input("Enter the value of n = "))
for i in range (n):
    name = input('Enter the person name = ')
    first_phone = int(input("Enter  first Phone No. = "))
    second_phone = int(input("enter second Phone No. = "))
    d[name]= [first_phone,second_phone]
    
print(d)

Enter the value of n = 1
Enter the person name = kris
Enter  first Phone No. = 14545345
enter second Phone No. = 45645654
{'kris': [14545345, 45645654]}

In [28]:
d = {'name':['Ram','Shyam','Ram'],
    'ntc_phone':[45454365435,567565756,45754755],
    'ncell_phone':[345345435,345436435,65756657]}
print(d)

{'name': ['Ram', 'Shyam', 'Ram'], 'ntc_phone': [45454365435, 567565756, 45754755], 'ncell_phone': [345345435, 345436435, 65756657]}

In [30]:
d = {'name':[],
    'ntc_phone':[],
    'ncell_phone':[]}
n = int(input("Enter the value of n = "))
for i in range(n):
    name = input('Enter name = ')
    ntc_phone = int(input('Enter ntc phone number = '))
    ncell_phone = int(input('Enter ncell phone number= '))
    d[ntc_phone] = d.append(ntc_phone)
    d[ncell_phone]=  d.append(ncell_phone)
    
print(d)

Enter the value of n = 1
Enter name = ram
Enter ntc phone number = 5435435
Enter ncell phone number= 34543534

AttributeError: 'dict' object has no attribute 'append'

In [31]:
#dict inside list 
d = {['name': 'Ram', 'age':34,'add':'kathmandu'],
    ['name': 'Shyam', 'age':44,'add':'Bhaktapur'],
    ['name': 'Hari', 'age':54,'add':'Lalitpur']}
print(d)

SyntaxError: invalid syntax (3497395084.py, line 2)

In [1]:
#dict inside dict 
d = {1:{'name': 'Ram', 'age':34,'add':'kathmandu'},
    2:{'name': 'Shyam', 'age':44,'add':'Bhaktapur'},
    3:{'name': 'Hari', 'age':54,'add':'Lalitpur'}}
print(type(d))

<class 'dict'>

In [6]:
d ={}
n = int(input("Enter the value of n ="))
for i in range(1,n+1):
    name = input("Enter Name = ")
    age = int(input("Enter age = "))
    add = input("Enter address = ")
    x = {'name':name, 'age':age, 'add':add}
    d[i] = x
    
print(d)

Enter the value of n =2
Enter Name = ram
Enter age = 34
Enter address = bhaktapur
Enter Name = Shyam
Enter age = 45
Enter address = lalitpur
{1: {'name': 'ram ', 'age': 34, 'add': 'bhaktapur'}, 2: {'name': 'Shyam ', 'age': 45, 'add': 'lalitpur'}}

In [9]:
a = {1: {'name': 'ram ', 'age': 34, 'add': 'bhaktapur'}, 2: {'name': 'Shyam ', 'age': 45, 'add': 'lalitpur'}}
del a[1]
print(a)

{2: {'name': 'Shyam ', 'age': 45, 'add': 'lalitpur'}}

In [14]:
a = {1: {'name': 'ram ', 'age': 34, 'add': 'bhaktapur', 'temporary':'patan'}, 2: {'name': 'Shyam ', 'age': 45, 'add': 'lalitpur', 'temporary':'lagankhel'}}
for key, value in a.items():
    print(f"{key}: {value}")

1: {'name': 'ram ', 'age': 34, 'add': 'bhaktapur', 'temporary': 'patan'}
2: {'name': 'Shyam ', 'age': 45, 'add': 'lalitpur', 'temporary': 'lagankhel'}