In [3]:
a = [1,2,3,4,5,6,7,8,9,0 ]
b = ["Apple", "Ball", "Cat", "Dog", "Fish"]

print(b[0])

print(a[0:9:3])

print(type(a))

print(type(b))

Apple
[1, 4, 7]
<class 'list'>
<class 'list'>

In [6]:
a =[1,2,3,4,5]
b =[6,7,8,9]
c =(a+b)
print(c)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [10]:
b = ["Apple", "Ball", "Cat", "Dog", "Fish"]
for i in  b:
    print(i)

Apple
Ball
Cat
Dog
Fish

In [18]:
#append

a = []
n = int(input("Enter the value of n ="))
for i in range(n):
    x = int(input("Enter the value for x ="))
    a.append(x)
    
    print(a)
print("the max value =",max(a))
print("the min value =", min(a))
print("the sum of the value =", sum(a))

Enter the value of n =4
Enter the value for x =22
[22]
Enter the value for x =44
[22, 44]
Enter the value for x =55
[22, 44, 55]
Enter the value for x =77
[22, 44, 55, 77]
the max value = 77
the min value = 22
the sum of the value = 198

In [21]:
a = []
n = int(input("Enter the value of n ="))
for i in range(n):
    x = int(input("Enter the value for x ="))
    a.append(x)
print("the max value =",max(a))
print("the min value =", min(a))
print("the sum of the value =", sum(a))
a.sort()
print(a)
a.reverse()
print(a)

Enter the value of n =2
Enter the value for x =22
Enter the value for x =33
the max value = 33
the min value = 22
the sum of the value = 55
[22, 33]
[33, 22]

In [22]:
b = ["Apple", "Ball", "Cat", "Dog", "Fish"]
b.insert(3,"tiger")
print(b)

['Apple', 'Ball', 'Cat', 'tiger', 'Dog', 'Fish']

In [23]:
b = ["Apple", "Ball", "Cat", "Dog", "Fish"]
a =[1,2,3,4,5]
b.extend(a)
a.extend(b)
print(b)
print(a)

['Apple', 'Ball', 'Cat', 'Dog', 'Fish', 1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 'Apple', 'Ball', 'Cat', 'Dog', 'Fish', 1, 2, 3, 4, 5]

In [28]:
b = ["Apple", "Ball", "Cat", "Dog", "Fish,"]
b[0:0] = ["tiger"]
b[1:1] = ["lion", "liger"]
print(b)

['tiger', 'lion', 'liger', 'Apple', 'Ball', 'Cat', 'Dog', 'Fish,']

In [29]:
# removing value from list 

#  1>del 2>remove() 3>pop()

b = ["Apple", "Ball", "Cat", "Dog", "Fish", "tiger", "lion", "liger"]
del b[0]
print(b)

['Ball', 'Cat', 'Dog', 'Fish']

In [34]:
#to find index
b = ["Apple", "Ball", "Cat", "Dog", "Fish", "tiger", "lion", "liger"]
print(b.index("Apple"))

0

In [41]:
b = ["Apple", "Ball", "Cat", "Dog", "Fish", "tiger", "lion", "tiger"]
l = len(b)
search =input("Enter search value =")
for i in range(l):
    if b[i] == search:
        print(i)

Enter search value =tiger
5
7

In [48]:
b = ["Apple", "Ball", "Cat", "Dog", "Fish", "tiger", "lion", "tiger"]
c = b.count(b)
search = input("Enter the search value =")
for i in range(c):
    b.remove(search)
print(b)

Enter the search value =tiger
['Apple', 'Ball', 'Cat', 'Dog', 'Fish', 'tiger', 'lion', 'tiger']

In [9]:
a = ["Apple", "Ball", "Cat", "Dog", "Fish", "tiger", "lion", "tiger"]
search = input("Enter for yout search = ")
if search in a:
    print("yes,result found")
    print(a.count(search))

Enter for yout search = cat

In [14]:
c = 0
a = ["Apple", "Ball", "Cat", "Dog", "Fish", "tiger", "lion", "tiger"]
search = input ("ENter your search value = ")
for i in range (len(a)):
    if search.lower() == a[i].lower():
        c += i

if  c>0:
    print("yes, result found")
else:
    print("Result not found")

ENter your search value = lion
Result not found

In [ ]:
info = [["Ram",34,"kathmandu"]
        ["shyam",45,"bhaktapur"]
        ["hari",30,"lalitpur"]]

In [22]:
info = []
n = int(input("Enter the value of n = "))
for i in range(n):
    name= input("Enter Name = ")
    age = float(input("Enter Age = "))
    add = input("Enter address = ")
    x = [name,age,add]
    info.append(x)
    
print(x)
print(i)

Enter the value of n = 3
Enter Name = ram
Enter Age = 34
Enter address = ahyoda
Enter Name = krishna
Enter Age = 76
Enter address = brindaban
Enter Name = hanuman
Enter Age = 10000000
Enter address = kailash
['hanuman ', 10000000.0, 'kailash ']
2

In [20]:
len(info)

3

In [38]:
age = int(input("Enter age ="))
name = input("Enter Name = ")
for i in info:
    if i[1]>= age:
        print(i)
        
    elif name.upper() == i[0].upper:
        print(i)
           
    else:
        print("Resut not found")

Enter age =100
Enter Name = hanuman
Resut not found
Resut not found
['hanuman ', 10000000.0, 'kailash ']

In [ ]:
info = [["Ram",34,"kathmandu"],
        ["shyam",45,"bhaktapur"],
        ["hari",30,"lalitpur"]]

In [53]:
name = input("Enter Name = ")
for i in info:
    if name in i:
        info.remove(i)

Enter Name = Ram

[]