In [ ]:
# no create 
# no update 
# no delete

In [8]:
t = ("Apple","Ball","Cat","Dog")
print(type(t))
print(t[1])

<class 'tuple'>
Ball

In [10]:
t = ("Apple","Ball","Cat","Dog")
if "Apple" in t:
    print("Yes")

Yes

In [12]:
a = (1,2,3,4,5)
b =(3,2,4,5,2)
c = a + b
print(type(c))
print(c)

<class 'tuple'>
(1, 2, 3, 4, 5, 3, 2, 4, 5, 2)

In [18]:
t =()
n = int(input("ENter the value if n = "))
for i in range(n):
              x = input("Enter the value of x = ")
              t += (x,)
                  
                               
print(t)

a = list(t)  # to change tuple in list 
print(a)

ENter the value if n = 3
Enter the value of x = Apple
Enter the value of x = Ball
Enter the value of x = Cat
('Apple', 'Ball', 'Cat')
['Apple', 'Ball', 'Cat']

In [19]:
#tuple inside tuple

t = ((1,2,3),
     (4,5,6),
     (7,8,9))
print(t)

((1, 2, 3), (4, 5, 6), (7, 8, 9))

In [20]:
#tuple inside tuple
t = ()
n = int(input("enter the value of n"))
for i in range(n):
    name= input("ENter name = ")
    age = int(input("ENter age = "))
    add = input("Enter address = ")
    x = (name, age, add)
    t += (x,)
    
print(t)

enter the value of n2
ENter name = ram
ENter age = 34
Enter address = kathmandu
ENter name = Shyam
ENter age = 45
Enter address = lalitpur
(('ram ', 34, 'kathmandu '), ('Shyam ', 45, 'lalitpur '))

In [ ]:
#list inside tuple