In [3]:
a = int(input("enter your value for a = "))
b = int(input("enter your value for b = "))
c = a+b
print("your result is = ", c)

enter your value for a = 11
enter your value for b = 11
your result is 22

In [4]:
p = int(input("enter your P = "))
t = float(input("enter your T = "))
r = float(input("enter your R = "))
i = p*t*r/100
print("your interest is = ", i)

enter your P = 10
enter your T = 3.5
enter your R = 2
your interest is =  0.7

In [6]:
a = 10
float(a)

10.0

In [9]:
a = str("hello")
bool(a)

True

In [31]:
name = input("enter name ")
age = int(input("enter age"))
add = input("enter address ")
info = "hello there, my name is " + name + " ,my age is =" + str(age)+  " and i am from = " + add
print(info)

enter name ram
enter age40
enter address sitapur
hello there, my name is ram ,my age is =40 and i am from = sitapur